/*
----------
	Global footer specific styles
----------
*/

.pre-footer {
	background: $gray-900 url(../images/action-adult-chainsaw.jpg) center;
	background-size: cover;
	color: $white;
	padding: 2rem 0;

	h3 {
		font-size: $font-size-lg;
		font-weight: 700;
	}

	.footer-nav {
		border-left: 1px solid $gray-500;
		height: 100%;
		margin-left: -15px;
		padding-left: 15px;

		.nav-item {
			text-transform: uppercase;

			.nav-link {
				color: $white;
				font-weight: 700;
				padding-left: 0;
				padding-right: 0;

				&.active, &:active, &:focus, &:hover {
					color: $primary;
				}
			}
		}
	}
}

#mainFooter {
	background: $primary;
	color: $white;
	padding: 1rem;

	p {
		margin: 0;
	}
}