/*
----------
	Global header specific styles
----------
*/

.navbar {
	.container { align-items: flex-end; }

	.nav-item {
		font-size: $font-size-sm;
		font-weight: 700;
		text-transform: uppercase;

		& + .nav-item {
			border-top: 1px solid $gray-600;

			@include media-breakpoint-up(lg) {
				border-top: none;
				border-left: 1px solid $gray-600;
			}
		}
	}

	.navbar-toggler {
		border-color: transparent;
	}
}